<div class="card">
    <div class="card-body">
        Shopping Cart
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price (THB)</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="lineItem in shoppingCart" ng-click="">
            <td>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <b>Brand</b> : {{lineItem.brand}}</li>
                    <li>
                        <b>Age</b> : {{lineItem.age}}</li>
                    <li>
                        <b>Gender</b> : {{lineItem.gender}}</li>
                    <li class="text-success">
                        <b>In stock</b>
                    </li>
                    <li>
                        <button type="button" class="btn btn-danger btn-search" id="deleteItemButton{{lineItem.toyId}}" name="deleteItemButton{{lineItem.toyId}}"
                        ng-click="removeItemFromCart(lineItem.toyId)"
                            ng-click="">Delete</button>
                    </li>

                    <!-- <li><b>Quantity</b> :  {{toy.quantity}}</li> -->
                </ul>
            </td>
            <td>

                <b>Quantity</b> : 
                <select class="custom-select" id="toy-quantity-{{toyId}}" name="toy-quantity-{{toyId}}" ng-model="lineItem.quantity">
                    <option ng-repeat="i in range(100) track by $index" ng-selected="i == lineItem.quantity">{{$index+1}}</option>
                </select>

            </td>
            <td> {{lineItem.unitPrice * lineItem.quantity}}</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-success btn-search" id="check-out" name="check-out" ng-click="">Check out</button>